input, textarea, select {
	display: block;
	margin: 5px;
}
input[type="submit"]  {
	margin: 20px 5px;
	padding: 10px 30px;
}
.task_form {
	width: 420px;
	margin: 2% auto;
}
.task_edit_inline_block {
	width: 200px;
	display: inline-block;
}
.task_edit_label {
	margin: 10px 0 0 5px;
	color: #555;
}
.task_edit_status_buttons {
	margin: 5px;
}
.task_status_value {
	color: #111;
}
.task_edit_item {
	margin: 0 0 0 5px;
	color: #111;
}
.task_history_table {
	width: 600px;
	margin: 2% auto;
}
.task_history_table_row_header {
	background: #CCC;
}
.task_history_table_row:nth-child(odd) {
	background: #EEE;
}
.task_history_table_cell {
	display: inline-block;
	padding: 3px;
	font-size: 12px;
}
.task_history_table_cell:nth-child(1) {
	width: 20px;
}
.task_history_table_cell:nth-child(2) {
	width: 120px;
}
.task_history_table_cell:nth-child(3) {
	width: 50px;
}
.task_history_table_cell:nth-child(4) {
	width: 210px;
}
.task_history_table_cell:nth-child(5) {
	width: 150px;
}