body {
	font-family: Arial, Helvetica, San Serif;
}
.tasks {
	margin: 2% 10%;
}
.tasks_table {
	width: 1050px;
}
.tasks_table_row_header {
	background: #CCC;
}
.tasks_table_row:nth-child(odd) {
	background: #EEE;
}
.tasks_table_row:hover {
	background: #DDD;
	cursor: pointer;
}
.tasks_table_cell {
	display: inline-block;
	padding: 3px;
	font-size: 12px;
}
.tasks_table_cell a {
	margin: 0 -2px 2px 0;
	font-size: 10px;
	color: #000;
	text-decoration: none;
}
.tasks_table_cell:nth-child(1) {
	width: 20px;
}
.tasks_table_cell:nth-child(2) {
	width: 40px;
}
.tasks_table_cell:nth-child(3) {
	width: 120px;
}
.tasks_table_cell:nth-child(4) {
	width: 120px;
}
.tasks_table_cell:nth-child(5) {
	width: 210px;
}
.tasks_table_cell:nth-child(6) {
	width: 140px;
}
.tasks_table_cell:nth-child(7) {
	width: 120px;
}
.tasks_table_cell:nth-child(8) {
	width: 120px;
}
.tasks_table_cell:nth-child(9) {
	width: 60px;
}